<section class="banner">
    <div class="banner__container container">
        <div class="banner__inner">
            <div class="banner__banner-content">
                <div class="banner__banner-title-box">
                    <h3 class="banner__banner-title">Start Creating Right Now for FREE!</h3>
                </div>
                <div class="banner__banner-desc-box">
                    <p class="banner__banner-desc">
                        Join thousands of users already crafting unique greetings with our AI tools and NFTs. Limitless creativity
                    </p>
                </div>
                <div class="banner__banner-btn-box">
                    <button class="banner__banner-btn">Sign Up for Free</button>
                </div>
            </div>
            <div class="banner__banner-img-box">
                <div class="banner__banner-img-wrapper">
                    <img src="./assets/images/banner-img.png" alt="" class="banner__banner-img" />
                </div>
            </div>
        </div>
    </div>
</section>
