<section class="blockchains">
    <div class="container blockchains__container">
        <div class="blockchains__inner">
            <ul class="blockchains__list">
                <li class="blockchains__list-item blockchains__item-unique">
                    <div class="blockchains__item-unique-wrapper">
                        <div class="blockchains__item-title-box">
                            <h3 class="blockchains__unique-item-title">A Unique Web3 Platform for all kinds of content</h3>
                        </div>
                        <div class="blockchains__item-btn-box blockchains__item-btn-box-unique">
                            <button class="blockchains__item-btn">Greetings</button>
                            <button class="blockchains__item-btn">Stories</button>
                            <button class="blockchains__item-btn">Invites</button>
                            <button class="blockchains__item-btn">Avatars</button>
                            <button class="blockchains__item-btn">Soulbounds</button>
                            <button class="blockchains__item-btn">Crypto gifts</button>
                            <button class="blockchains__item-btn">Party goods</button>
                        </div>
                    </div>
                    <div class="blockchains__unique-img-box">
                        <div class="blockchains__unique-img-wrapper">
                            <img src="./assets/images/blockchains-img1.png" alt="" class="blockchains__unique-img" />
                        </div>
                    </div>
                </li>
                <li class="blockchains__list-item blockchains__item-blockchains blockchains__item-blockchains-purple">
                    <div class="blockchains__item-title-box">
                        <h3 class="blockchains__item-title">Blockchains</h3>
                        <p class="blockchains__item-disc">
                            Choose from multiple blockchains to mint and store your NFTs securely. Select popular networks to
                            match your needs for speed, cost, and compatibility.
                        </p>
                    </div>
                    <div class="blockchains__item-btn-box">
                        <button class="blockchains__item-btn">Ethereum</button>
                        <button class="blockchains__item-btn">Polygon</button>
                        <button class="blockchains__item-btn">BSC</button>
                    </div>
                </li>
                <li class="blockchains__list-item blockchains__item-community">
                    <div class="blockchains__community-img-box">
                        <img src="./assets/images/icons/blockchains-message.svg" alt="" class="blockchains__community-img" />
                    </div>
                    <div class="blockchains__item-title-box">
                        <h3 class="blockchains__item-title">Community and Inspiration</h3>
                        <p class="blockchains__item-disc">
                            Join a vibrant community of creators and collectors—share, connect, and get inspired by fellow
                            enthusiasts of digital AI greetings and NFTs.
                        </p>
                    </div>
                </li>
                <li class="blockchains__list-item blockchains__item-blockchains blockchains__item-blockchains-blue">
                    <div class="blockchains__item-title-box">
                        <h3 class="blockchains__item-title">Innovative AI Tools</h3>
                        <p class="blockchains__item-disc">
                            Bring your ideas to life with AI-powered visuals and personalized messages, making digital greetings
                            unforgettable.
                        </p>
                    </div>
                    <div class="blockchains__item-btn-box">
                        <button class="blockchains__item-btn">Text-to-Image</button>
                        <button class="blockchains__item-btn">Colors</button>
                        <button class="blockchains__item-btn">Styles</button>
                        <button class="blockchains__item-btn">Image-to-Video</button>
                        <button class="blockchains__item-btn">Text-to-Text</button>
                        <button class="blockchains__item-btn">Voiceover</button>
                    </div>
                </li>
                <li class="blockchains__list-item blockchains__item-social">
                    <div class="blockchains__item-title-box blockchains__title-white">
                        <h3 class="blockchains__item-title">SocialFi & Gift2Earn Loyalty Rewards</h3>
                        <p class="blockchains__item-disc">
                            Earn rewards by gifting and engaging with the community, turning social interactions into valuable
                            digital assets.
                        </p>
                    </div>
                    <div class="blockchains__social-img-box">
                        <img src="./assets/images/blockchains-img2.png" alt="" class="blockchains__social-img" />
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
