<section class="faq">
    <div class="container faq__container">
        <div class="faq__inner">
            <div class="faq__title-box">
                <h2 class="faq__title">FAQ</h2>
            </div>
            <div class="faq__accordion-wrapper">
                <div class="faq__accordion">
                    <div class="faq__accordion-item">
                        <div class="faq__accordion-item-header">
                            <p class="faq__accordion-title">What is CruzoCards platform?</p>
                            <button class="faq__accordion-svg-wrapper">
                                <div class="faq__accordion-svg-box">
                                    <svg
                                        width="20"
                                        height="12"
                                        viewBox="0 0 20 12"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path d="M19 2L10 10L1 2" stroke="#221A2E" stroke-width="3" />
                                    </svg>
                                </div>
                            </button>
                        </div>
                        <div class="faq__accordion-item-body">
                            <div class="faq__accordion-item-body-content">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, quia voluptate, iusto dignissimos
                                odit fugit id minima facilis commodi delectus, non tempore. Qui, error nisi pariatur quasi magnam
                                voluptas praesentium recusandae sunt ad est facilis sequi atque quis earum provident? Sequi
                                laboriosam sit cupiditate rem nesciunt ipsum, omnis pariatur atque.
                            </div>
                        </div>
                    </div>
                    <div class="faq__accordion-item">
                        <div class="faq__accordion-item-header">
                            <p class="faq__accordion-title">How AI can help me?</p>
                            <button class="faq__accordion-svg-wrapper">
                                <div class="faq__accordion-svg-box">
                                    <svg
                                        width="20"
                                        height="12"
                                        viewBox="0 0 20 12"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path d="M19 2L10 10L1 2" stroke="#221A2E" stroke-width="3" />
                                    </svg>
                                </div>
                            </button>
                        </div>
                        <div class="faq__accordion-item-body">
                            <div class="faq__accordion-item-body-content">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora quidem vel voluptatibus sed
                                tempore inventore. Doloremque ducimus voluptatum labore nesciunt.
                            </div>
                        </div>
                    </div>
                    <div class="faq__accordion-item">
                        <div class="faq__accordion-item-header">
                            <p class="faq__accordion-title">What is NFT and Blockchain?</p>
                            <button class="faq__accordion-svg-wrapper">
                                <div class="faq__accordion-svg-box">
                                    <svg
                                        width="20"
                                        height="12"
                                        viewBox="0 0 20 12"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path d="M19 2L10 10L1 2" stroke="#221A2E" stroke-width="3" />
                                    </svg>
                                </div>
                            </button>
                        </div>
                        <div class="faq__accordion-item-body">
                            <div class="faq__accordion-item-body-content">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos fugiat cupiditate in quaerat
                                nam eius perferendis eveniet, aperiam et adipisci facilis vero error dolore assumenda. Ratione
                                possimus eligendi nesciunt quaerat sapiente architecto itaque mollitia necessitatibus quidem, fuga
                                illo. Voluptates ipsam temporibus esse quaerat eligendi ipsum architecto, culpa, dolore veniam
                                voluptatem, nam natus eum repellendus ea illum consequatur quod eos maxime quae dolorum. Dolore
                                soluta dolores, qui iste deserunt reprehenderit, saepe quae eveniet officia unde, neque nulla
                                possimus. Beatae, saepe neque?
                            </div>
                        </div>
                    </div>
                    <div class="faq__accordion-item">
                        <div class="faq__accordion-item-header">
                            <p class="faq__accordion-title">How to learn more and join the Community?</p>
                            <button class="faq__accordion-svg-wrapper">
                                <div class="faq__accordion-svg-box">
                                    <svg
                                        width="20"
                                        height="12"
                                        viewBox="0 0 20 12"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path d="M19 2L10 10L1 2" stroke="#221A2E" stroke-width="3" />
                                    </svg>
                                </div>
                            </button>
                        </div>
                        <div class="faq__accordion-item-body">
                            <div class="faq__accordion-item-body-content">
                                Lorem ipsum dolor sit amet consectetur. Velit augue ut lacinia nec nibh enim id quam elementum.
                                Enim quis aliquam at ullamcorper cras et. Turpis tempus ultrices vitae in iaculis. Pellentesque
                                egestas fusce et malesuada. Nulla pellentesque ac tincidunt consectetur dis. Tincidunt nunc felis
                                odio neque tristique sed quam mattis a. Sed pellentesque nisl sem porttitor bibendum.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
