<section class="inspiring">
    <div class="container inspiring__container">
        <div class="inspiring__inner">
            <div class="inspiring__title-box">
                <h2 class="inspiring__title">Discover Inspiring Creations</h2>
            </div>
            <div class="inspiring__tab-box">
                <div class="inspiring__tab-btn-box">
                    <ul class="inspiring__tab-btn-list">
                        <li class="inspiring__tab-btn active" >
                            <div class="inspiring__tab-btn-link"> Birthday Cards </div>
                        </li>
                        <li class="inspiring__tab-btn">
                            <div class="inspiring__tab-btn-link"> Thank You Cards </div>
                        </li>
                        <li class="inspiring__tab-btn">
                            <div class="inspiring__tab-btn-link"> Wedding Cards </div>
                        </li>
                        <li class="inspiring__tab-btn">
                            <div class="inspiring__tab-btn-link"> Holiday Cards </div>
                        </li>
                    </ul>
                </div>

                <div class="inspiring__tab-content-box">
                    <div class="inspiring__tab-content active">
                        <div class="inspiring__swiper-box">
                            <div class="inspiring__swiper swiper">
                                <div class="inspiring__swiper-wrapper swiper-wrapper">
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image1.webp" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image1.webp" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image1.webp" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image1.webp" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image1.webp" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image1.webp" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image1.webp" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image1.webp" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image1.webp" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image1.webp" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image1.webp" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image1.webp" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="inspiring__tab-content">
                        <div class="inspiring__swiper-box">
                            <div class="inspiring__swiper swiper">
                                <div class="inspiring__swiper-wrapper swiper-wrapper">
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image2.png" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image2.png" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image2.png" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image2.png" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image2.png" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image2.png" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image2.png" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image2.png" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image2.png" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image2.png" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image2.png" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image2.png" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="inspiring__tab-content">
                        <div class="inspiring__swiper-box">
                            <div class="inspiring__swiper swiper">
                                <div class="inspiring__swiper-wrapper swiper-wrapper">
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image3.png" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image3.png" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image3.png" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image3.png" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image3.png" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image3.png" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image3.png" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image3.png" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image3.png" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image3.png" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image3.png" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image3.png" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="inspiring__tab-content">
                        <div class="inspiring__swiper-box">
                            <div class="inspiring__swiper swiper">
                                <div class="inspiring__swiper-wrapper swiper-wrapper">
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image4.png" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image4.png" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image4.png" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image4.png" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image4.png" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image4.png" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image4.png" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image4.png" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image4.png" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image4.png" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image4.png" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                    <div class="inspiring__swiper-slide swiper-slide">
                                        <div class="inspiring__slide-img-box">
                                            <img src="./assets/images/slider/slider-image4.png" alt="" class="inspiring__slide-img">
                                        </div>
                                        <p class="inspiring__slide-text">@loremipsumdolor</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
