<section class="main">
    <div class="container main__container">
        <div class="main__inner">
            <div class="main__title-box">
                <h1 class="main__title">Create Personal Greetings with <span class="gradient-text">AI tools & NFT</span></h1>
                <div class="main__description">Imagine, Create, and Share Digital Postcards & Stories</div>
                <div class="main__btn-box">
                    <button class="main__btn white-btn">Generate Card</button>
                    <button class="main__btn purple-btn">Create NFT</button>
                </div>
            </div>

            <div class="main__content-box">
                <div class="main__option-box">
                    <div class="main__option-list-box border-gradient">
                        <ul class="main__option-list border-gradient__bg">
                            <li class="main__option-item">
                                <a href="#" class="main__option-item-link">
                                    <img src="./assets/images/options/expand.svg" alt="" class="main__option-image" />
                                </a>
                            </li>
                            <li class="main__option-item">
                                <a href="#" class="main__option-item-link">
                                    <img src="./assets/images/options/rocket.svg" alt="" class="main__option-image" />
                                </a>
                            </li>
                            <li class="main__option-item">
                                <a href="#" class="main__option-item-link">
                                    <img src="./assets/images/options/qr-code.svg" alt="" class="main__option-image" />
                                </a>
                            </li>
                            <li class="main__option-item">
                                <a href="#" class="main__option-item-link">
                                    <img src="./assets/images/options/star.svg" alt="" class="main__option-image" />
                                </a>
                            </li>
                        </ul>
                    </div>

                    <ul class="main__letter-list">
                        <li class="main__letter-item size-1">Aa</li>
                        <li class="main__letter-item size-2">Aa</li>
                        <li class="main__letter-item size-3">Aa</li>
                    </ul>
                    <div class="main__rectangle-wrapper border-gradient">
                        <div class="main__rectangle-box border-gradient__bg">
                            <p class="main__rectangle-text">
                                Lorem ipsum vestibulum dolor sit amet<br />
                                consectetur. Fringilla eu
                            </p>
                        </div>
                    </div>
                    <div class="main__liked-box">
                        <div class="main__liked-image-box">
                            <img src="./assets/images/icons/main-liked.svg" alt="" class="main__liked-image" />
                        </div>
                        <p class="main__liked-text">Alex Spencer and Natalia Smirnova liked your work!</p>
                    </div>
                    <div class="main__dropdown-box">
                        <div class="main__dropdown-top">
                            <p class="main__dropdown-choice">Choose a blockchain</p>
                            <div class="main__dropdown-arrow-box">
                                <img src="./assets/images/icons/main-dropdown-arrow.svg" alt="" class="main__dropdown-arrow" />
                            </div>
                        </div>
                        <div class="main__dropdown-bottom">
                            <ul class="main__dropdown-list">
                                <li class="main__dropdown-item">
                                    <div class="main__dropdown-image-box">
                                        <img src="./assets/images/icons/btc.svg" alt="Btc" class="main__dropdown-image" />
                                    </div>
                                    <p class="main__dropdown-text">Bitcoin</p>
                                </li>
                                <li class="main__dropdown-item">
                                    <div class="main__dropdown-image-box">
                                        <img src="./assets/images/icons/eth.svg" alt="Eth" class="main__dropdown-image" />
                                    </div>
                                    <p class="main__dropdown-text">Etherium</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="main__color-box border-gradient">
                        <ul class="main__color-list border-gradient__bg">
                            <li class="main__color-item">
                                <button class="main__color-btn color-yellow"></button>
                            </li>
                            <li class="main__color-item">
                                <button class="main__color-btn color-orange"></button>
                            </li>
                            <li class="main__color-item">
                                <button class="main__color-btn color-pink"></button>
                            </li>
                            <li class="main__color-item">
                                <button class="main__color-btn color-purple"></button>
                            </li>
                            <li class="main__color-item">
                                <button class="main__color-btn color-blue"></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
