<section class="marketplace">
    <div class="marketplace__container container">
        <div class="marketplace__inner">
            <div class="marketplace__left">
                <div class="marketplace__title-box">
                    <h2 class="marketplace__title">
                        NFT marketplace<br />
                        for Digital Emotions
                    </h2>
                </div>
                <div class="marketplace__list-box">
                    <ul class="marketplace__list">
                        <li class="marketplace__list-item">
                            <div class="marketplace__item-img-box">
                                <img src="./assets/images/icons/marketplace-img1.svg" alt="" class="marketplace__item-img" />
                            </div>
                            <div class="marketplace__item-content">
                                <h3 class="marketplace__item-title">Effortlessly Create NFTs</h3>
                                <p class="marketplace__item-text">
                                    Transform your digital art into unique NFTs with ease! Whether you’re a seasoned creator or
                                    new to NFTs, our user-friendly tools make minting quick and simple, so you can share or sell
                                    your work on the blockchain effortlessly.
                                </p>
                            </div>
                        </li>
                        <li class="marketplace__list-item">
                            <div class="marketplace__item-img-box">
                                <img src="./assets/images/icons/marketplace-img2.svg" alt="" class="marketplace__item-img" />
                            </div>
                            <div class="marketplace__item-content">
                                <h3 class="marketplace__item-title">Build & Showcase NFT Collections</h3>
                                <p class="marketplace__item-text">
                                    Craft themed collections to showcase your creativity! Group your NFTs into cohesive sets to
                                    captivate buyers and build your brand in the NFT space.
                                </p>
                            </div>
                        </li>
                        <li class="marketplace__list-item">
                            <div class="marketplace__item-img-box">
                                <img src="./assets/images/icons/marketplace-img3.svg" alt="" class="marketplace__item-img" />
                            </div>
                            <div class="marketplace__item-content">
                                <h3 class="marketplace__item-title">Gift NFTs & Crypto</h3>
                                <p class="marketplace__item-text">
                                    Gift digital ownership! Share NFTs or crypto with friends and family for a personalized,
                                    modern touch on any occasion—perfect for introducing loved ones to blockchain.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="marketplace__btn-box">
                    <button class="marketplace__btn purple-btn">Start Creating</button>
                </div>
            </div>
            <div class="marketplace__right">
                <div class="marketplace__rectangle"></div>
                <!-- <div class="marketplace__info">
                    <div class="marketplace__info-item marketplace__info1">
                        <div class="marketplace__info-img-box">
                            <img src="./assets/images/icons/message-icon.svg" alt="" class="marketplace__info-img" />
                        </div>
                        <p class="marketplace__info-text">Hi! How can I buy this?</p>
                    </div>
                    <div class="marketplace__info-item marketplace__info2">
                        <div class="marketplace__info-img-box">
                            <img src="./assets/images/icons/arrow-ico.svg" alt="" class="marketplace__info-img" />
                        </div>
                        <p class="marketplace__info-text">
                            It’s easy! Just head over to the Cruzo Marketplace section and pick what you like!
                        </p>
                    </div>
                </div> -->
                <div class="marketplace__item marketplace__item1">
                    <div class="marketplace__item-image-box">
                        <img src="./assets/images/marketplace-item1.png" alt="" class="marketplace__item-image" />
                    </div>
                    <button class="marketplace__item-btn">
                        <p class="marketplace__btn-text">Buy for</p>
                        <div class="marketplace__btn-img-box">
                            <img src="./assets/images/icons/etherium.svg" alt="" class="marketplace__btn-img" />
                        </div>
                        <p class="marketplace__btn-text">0.0048</p>
                    </button>
                </div>
                <div class="marketplace__item marketplace__item2">
                    <div class="marketplace__item-image-box">
                        <img src="./assets/images/marketplace-item2.png" alt="" class="marketplace__item-image" />
                    </div>
                    <button class="marketplace__item-btn">
                        <p class="marketplace__btn-text">Buy for</p>
                        <div class="marketplace__btn-img-box">
                            <img src="./assets/images/icons/etherium.svg" alt="" class="marketplace__btn-img" />
                        </div>
                        <p class="marketplace__btn-text">0.0024</p>
                    </button>
                </div>
                <div class="marketplace__item marketplace__item3">
                    <div class="marketplace__item-image-box">
                        <img src="./assets/images/marketplace-item3.png" alt="" class="marketplace__item-image" />
                    </div>
                    <button class="marketplace__item-btn">
                        <p class="marketplace__btn-text">Buy for</p>
                        <div class="marketplace__btn-img-box">
                            <img src="./assets/images/icons/etherium.svg" alt="" class="marketplace__btn-img" />
                        </div>
                        <p class="marketplace__btn-text">0.0018</p>
                    </button>
                </div>
                <div class="marketplace__item marketplace__item4">
                    <div class="marketplace__item-image-box">
                        <img src="./assets/images/marketplace-item4.png" alt="" class="marketplace__item-image" />
                    </div>
                    <button class="marketplace__item-btn">
                        <p class="marketplace__btn-text">Buy for</p>
                        <div class="marketplace__btn-img-box">
                            <img src="./assets/images/icons/etherium.svg" alt="" class="marketplace__btn-img" />
                        </div>
                        <p class="marketplace__btn-text">0.0018</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
