<section class="unleash">
    <div class="container unleash__container">
        <div class="unleash__inner">
            <div class="unleash__title-box">
                <div class="unleash__logo-box">
                    <img src="./assets/images/logo-main.svg" alt="logo" class="unleash__logo" />
                </div>
                <h2 class="unleash__title">
                    Unleash your creativity<span class="gradient-text1"> with AI.</span> Craft
                    <span class="gradient-text2">unique</span> digital greetings and NFT postcards effortlessly using
                    <span class="gradient-text3">simple</span>
                    prompts.
                </h2>
            </div>
            <div class="unleash__content-box">
                <div class="unleash__left">
                    <div class="unleash__mouse-box">
                        <img src="./assets/images/unleash-rectangle.svg" alt="" class="unleash__mouse-img">
                    </div>
                    <div class="unleash__image-box">
                        <img src="./assets/images/unleash-image.webp" alt="" class="unleash__image" />
                    </div>
                    <ul class="unleash__letter-list">
                        <li class="unleash__letter-item size-1">Aa</li>
                        <li class="unleash__letter-item size-2">Aa</li>
                        <li class="unleash__letter-item size-3">Aa</li>
                    </ul>
                    <div class="unleash__rectangle-box border-gradient">
                        <div class="unleash__rectangle-item border-gradient__bg">
                            <p class="unleash__rectangle-text">
                                Create a Halloween card with a beautiful pumpkin in a Halloween-themed setting
                            </p>
                        </div>
                    </div>
                    <div class="unleash__option-box border-gradient">
                        <ul class="unleash__option-list border-gradient__bg">
                            <li class="unleash__option-item">
                                <a href="#" class="unleash__option-item-link">
                                    <img src="./assets/images/options/rectangle.svg" alt="" class="unleash__option-image" />
                                </a>
                            </li>
                            <li class="unleash__option-item">
                                <a href="#" class="unleash__option-item-link">
                                    <img src="./assets/images/options/celebrate.svg" alt="" class="unleash__option-image" />
                                </a>
                            </li>
                            <li class="unleash__option-item">
                                <a href="#" class="unleash__option-item-link">
                                    <img src="./assets/images/options/clover.svg" alt="" class="unleash__option-image" />
                                </a>
                            </li>
                            <li class="unleash__option-item">
                                <a href="#" class="unleash__option-item-link">
                                    <img src="./assets/images/options/t-icon.svg" alt="" class="unleash__option-image" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="unleash__right">
                    <div class="unleash__content-title-box">
                        <h2 class="unleash__content-title">Inspiring AI Tools for Your Digital Greetings<br class="mobile"> and Postcards</h2>
                    </div>
                    <div class="unleash__content-list-box">
                        <div class="unleash__content-item">
                            <div class="unleash__content-item-image-box">
                                <img src="./assets/images/icons/film.svg" alt="" class="unleash__content-item-image" />
                            </div>
                            <div class="unleash__content-item-text">
                                <h3 class="unleash__content-item-title">Generate Images & Videos</h3>
                                <div class="unleash__content-text">
                                    Turn simple words into beautiful visuals! 🌟 Effortlessly create stunning images and videos
                                    with our AI generator to make every greeting or postcard stand out.
                                </div>
                            </div>
                        </div>
                        <div class="unleash__content-item">
                            <div class="unleash__content-item-image-box">
                                <img src="./assets/images/icons/mail.svg" alt="" class="unleash__content-item-image" />
                            </div>
                            <div class="unleash__content-item-text">
                                <h3 class="unleash__content-item-title">Generate Wishes & Greetings</h3>
                                <div class="unleash__content-text">
                                    Make every celebration extraordinary! 🎉 From birthdays to holidays, our AI crafts unique,
                                    heartfelt messages and greetings that leave a lasting impression.
                                </div>
                            </div>
                        </div>
                        <div class="unleash__content-item">
                            <div class="unleash__content-item-image-box">
                                <img src="./assets/images/icons/equalizer.svg" alt="" class="unleash__content-item-image" />
                            </div>
                            <div class="unleash__content-item-text">
                                <h3 class="unleash__content-item-title">Voiceover Postcards</h3>
                                <div class="unleash__content-text">
                                    Give your postcards a voice! 🎙️ Use our AI-powered voiceover feature to record a personalized
                                    message or let AI create one for you, adding an unforgettable multimedia experience to your
                                    greetings.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="unleash__btn-box">
                        <button class="unleash__btn purple-btn">Create Card</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
